#contactUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    width: 100vw;
    color: #ff914d;
}

#contactUs h2{
    display: flex;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    max-width: 800px;
}

#contactUs img{
    width: 70px;
}


.redes{
    display: grid;
    justify-content: center;
    grid-template-columns: 260px 260px 260px 260px;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    gap: 15px;
}

.redes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    gap: 10px; 
}

.redes p{
    font-size: 18px;
    flex-direction: unset;
    text-align: center;
}

.redes img{
    width: 70px;
}

/* mediaqueries zone */

@media (max-width: 1130px){
    .redes{
        grid-template-columns: 200px 200px 200px 200px;
    }

    .redes div{
        width: 200px;
    }
}

@media (max-width: 940px){
    .redes{
        grid-template-columns: 160px 160px 160px 160px;
    }

    .redes div{
        width: 160px;
    }
}

@media (max-width:830px){
    .contactTitle{
        width: 750px;
    }
}

@media (max-width: 749px){
    .redes{
        padding: 10px;
    }

    .contactTitle{
        width: 650px;
    }
}

@media (max-width: 700px){
    #contactUs{
        gap: 30px;
    }

    #contactUs h2{
        font-size: 35px;
    }

    .redes p{
        font-size: 13px;
        width: 120px;
    }

    .redes {
        gap: 0px;
    }
}

@media (max-width: 650px){
    #contactUs h2{
        font-size: 30px;
        width: 340px;
    }

    .redes{
        grid-template-columns: 160px 160px;
        gap: 20px;
    }

    .redes p{
        font-size: 18px;
        width: 160px;
    }
}

@media (max-width:360px){
    #contactUs h2{
        font-size: 27px;
        width: 300px;
    }

    .redes{
        grid-template-columns: 130px 130px;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .redes p{
        font-size: 16px;
        width: 140px;
    }

    #instagram, #whatsapp, #location, #schedules{
        width: 120px;
    }

    #instagram img, #whatsapp img, #location img, #schedules img{
        width: 50px;
    }
}