.CardCheckoutProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    background-color: #16222A;
    padding: 8px;
    border: 3px solid #c56f3b;
    border-radius: 0.5rem;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ff914d;
}

.cardImg{
    display: flex;
    align-items: center;
}

.cardImg img{
    width: 200px;
}

.cardInfo{
    display: flex;
    width: 200px;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}

.delete{
    font-size: 18px;
    font-weight: 600;
}

.trashBtnCheckout{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 150px;
    border: 3px solid #c56f3b;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.5rem;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;     
}

.trashBtnCheckout img{
    width: 15px;
}

.CheckoutProducts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.checkoutTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 60px;
    padding-bottom: 0px;
    color: #ff914d;
    text-shadow: 0px -1px 20px #ff914d; 
    font-style: italic;
}

.checkoutProductsWrp{
    display: flex;
    overflow-x:auto;
    max-width: 1100px;
    padding:10px;
    padding-bottom: 16px;
    gap: 20px;
}

.checkoutProductsWrp::-webkit-scrollbar{
    height: 6px;
    background-color: #16222A; 
    border-radius: 0.5rem;  
}

.checkoutProductsWrp::-webkit-scrollbar-thumb{
    background-color: #c56f3b;
    border-radius: 0.5rem;
}

.totalCheckOut{
    display: flex;
    width: 270px;
    border: 4px solid #c56f3b;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 4px;    
    background: #16222A;
    box-shadow: 0px 0px 10px #ff914d; 
}

.totalCheckOut p{    
    font-size: 25px;
    font-weight: 600;
    color: white;      
}   

.Checkout{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100cap;
    width: 100vw; */
    width: 100vw;
    display: flex;
    align-items: center;    
    flex-direction: column;
    padding: 40px;
    padding-top: 20px;
    /* gap: 20px; */
}

.ordersMain{
    height: 110vh;
}

/* Checkout From */

.ChekoutForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.ChekoutForm h2{
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 30px;
    padding-bottom: 0px;
    color: #ff914d;
    text-shadow: 0px -1px 20px #ff914d; 
}

.checkoutForm {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.checkoutFormGrid{
    display: grid;    
    grid-template-columns: 400px 400px;
    grid-template-rows: 70px 70px;
}

.checkoutFormEmail{
    color: white;
    width: 300px;
    background: #3F3C43;
    border: transparent;
    border-bottom: 3px solid #c56f3b;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 20px;
    background-color: transparent;
}

.checkoutFormCellphone{
    color: white;
    width: 300px;
    background: transparent;
    border: transparent;
    border-bottom: 3px solid #c56f3b;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 20px;
    background-color: transparent;
}

.checkoutFormAddress{
    color: white;
    width: 300px;
    background: #3F3C43;
    border: transparent;
    border-bottom: 3px solid #c56f3b;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 20px;
    background-color: transparent;
}

.checkoutFormCardNumber{
    color: white;
    width: 300px;
    background: transparent;
    border: transparent;
    border-bottom: 3px solid #c56f3b;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 20px;
}

.checkoutFormBtn{
    display: flex;
    width: 160px;
    height: 30px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #16222A;
    border: 3px solid #c56f3b;
    border-radius: 0.5rem;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 10px #ff914d;
    cursor: pointer; 
}


/* Mediasqueries */

@media (max-width: 1130px){
    .checkoutProductsWrp{
        width: 800px;
    }
}

@media (max-width:1000px){
    .ordersMain{
        height: 115vh;
    }

    .ChekoutForm h2{
        text-align: center;
        width: 700px;       
    }
}

@media (max-width: 830px){
    .checkoutProductsWrp{
        width: 700px;
    }

    .ChekoutForm{
        width: 700px;
    }

    .checkoutForm{
        width: 700px;
    }

    .checkoutFormGrid{
        grid-template-columns: 300px 300px;
    }

    .checkoutFormEmail, .checkoutFormCellphone, .checkoutFormAddress, .checkoutFormCardNumber{
        width: 250px;
        font-size: 15px;
    }
}

@media (max-width: 720px){
    .ChekoutForm h2{
        text-align: center;
        width: 550px;       
    }

    .checkoutProductsWrp{
        width: 600px;
    }

    .ChekoutForm{
        width: 600px;
    }

    .checkoutForm{
        width: 600px;
    }

    .checkoutFormGrid{
        grid-template-columns: 300px 300px;
    }

    .checkoutFormEmail, .checkoutFormCellphone, .checkoutFormAddress, .checkoutFormCardNumber{
        width: 250px;
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    .checkoutProductsWrp{
        width: 500px;
    }

    .CardCheckoutProducts{
        width: 180px;
        text-align: start;
    }

    .cardInfo{
        width: 150px;
    }

    .cardInfo h2{
        font-size: 20px;
    }

    .cardImg img{
        width: 130px;
    }

    .CheckoutProducts h2{
        font-size: 26px;
    }

    .ChekoutForm, .checkoutForm{
        width: 500px;
    }

    .ChekoutForm h2{
        font-size: 26px;
        width: 500px;
    }

    .checkoutFormGrid{
        grid-template-columns: 250px 250px;
    }

    .checkoutFormEmail, .checkoutFormCellphone, .checkoutFormAddress, .checkoutFormCardNumber{
        width: 200px;
        font-size: 13px;
    }
}

@media (max-width:540px){
    .checkoutFormGrid{
        grid-template-columns: 200px 200px;
    }

    .checkoutFormEmail, .checkoutFormCellphone, .checkoutFormAddress, .checkoutFormCardNumber{
        width: 180px;
    }

    .checkoutProductsWrp{
        width: 400px;
    }

    .CardCheckoutProducts{
        width: 150px;
        text-align: start;
    }

    .trashBtnCheckout{
        width: 120px;
        height: 30px;
    }

    .delete{
        font-size: 15px;
        text-align: center;
        padding-top: 3px;
    }

    .cardInfo h2{
        font-size: 19px;
    }

    .cardInfo p{
        font-size: 14px;
    }

    .ChekoutForm, .checkoutForm{
        width: 400px;
    }

    .ChekoutForm h2{
        font-size: 21px;
        width: 400px;
    }

    .CheckoutProducts h2{
        font-size: 21px;
    }
}

@media (max-width:418px){
    .checkoutFormGrid{
        grid-template-columns: 160px 160px;
    }

    .checkoutFormEmail, .checkoutFormCellphone, .checkoutFormAddress, .checkoutFormCardNumber{
        width: 145px;
        font-size: 12px;
    }

    .checkoutEmail p, .checkoutCellphone p, .checkoutAddress p, .checkoutCardNumber p{
        font-size: 14px;
    }

    .checkoutFormBtn{
        width: 120px;
        font-size: 17px;
    }

    .checkoutProductsWrp{
        width: 320px;
        gap: 14px;
    }

    .totalCheckOut p{
        font-size: 20px;
    }

    .totalCheckOut{
        width: 220px;
    }

    .ChekoutForm, .checkoutForm{
        width: 320px;
    }

    .ChekoutForm h2{
        font-size: 16px;
        width: 320px;
    }

    .CheckoutProducts h2{
        font-size: 21px;
    }
}

@media (max-width:330px) {
    .checkoutFormGrid{
        grid-template-columns: 145px 145px;
    }

    .checkoutFormEmail, .checkoutFormCellphone, .checkoutFormAddress, .checkoutFormCardNumber{
        width: 133px;
        font-size: 12px;
    }

    .checkoutEmail p, .checkoutCellphone p, .checkoutAddress p, .checkoutCardNumber p{
        font-size: 14px;
    }

    .checkoutFormBtn{
        width: 120px;
        font-size: 17px;
    }

    .checkoutProductsWrp{
        width: 300px;
        gap: 14px;
    }

    .totalCheckOut p{
        font-size: 20px;
    }

    .totalCheckOut{
        width: 220px;
    }

    .ChekoutForm, .checkoutForm{
        width: 320px;
    }

    .ChekoutForm h2{
        font-size: 16px;
        width: 320px;
    }

    .CheckoutProducts h2{
        font-size: 21px;
    } 
}