#verified{
    width: 100vw;
    height: 93.8vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 100px;
}

.logoVerified{
    font-size: 48px;
    font-style: italic;
    color: #ff914d;
    text-shadow: 0px 0px 32px #ff914d; 
    padding-top: 80px;
}

/* .containerFormVerified{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
} */

.formVerified{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    border: 3px solid #c56f3b;
    width: 630px;
    height: 380px;
    background: #252c3a;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px #ff914d;
}

.verifyEmailField{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff914d;
    flex-direction: column;
    gap: 20px;
}

.verifyEmailField label{
    font-size: 38px;
    font-weight: 600;
    text-shadow: 0px 0px 20px #ff914d; 
}

.emailVerified{
    color: white;
    width: 300px;
    text-align: center;
    background: transparent;
    border: transparent;
    border-bottom: 3px solid #c56f3b;
    height: 25px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.verifyCodeField{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff914d;
    flex-direction: column;
    gap: 20px;
}

.verifyCodeField label{
    font-size: 38px;
    font-weight: 600;
    text-shadow: 0px 0px 20px #ff914d; 
}

.codeVerified{
    background: transparent;
    border: transparent;
    border-bottom: 3px solid #c56f3b;
    height: 25px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.verifiedBtn{
    text-align: center;
    width: 200px;
    height: 40px;
    padding-top: 2px;
    background: #16222A;
    color: #ff914d;
    border: 3px solid #c56f3b;
    font-size: 20px;
    box-shadow: 0px 0px 20px #ff914d;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media(max-width:696px){
    .formVerified{
        width: 430px;
    }

    .formVerified label{
        font-size: 24px;
    }

    .emailVerified, .codeVerified{
        font-size: 18px;
    }

    .logoVerified{
        font-size: 40px;
    }
}

@media(max-width:530px){
    .formVerified{
        width: 380px;
    }

    .logoVerified{
        font-size: 35px;
    }
}

@media(max-width:480px){
    .logoVerified{
        font-size: 30px;
    }

    #verified{
        height: 95vh;
    }
}

@media(max-width:410px){
    .logoVerified{
        font-size: 24px;
    }

    .formVerified{
        width: 310px;
    }

    .formVerified label{
        font-size: 19px;
    }

    .emailVerified, .codeVerified{
        font-size: 16px;
    }

    .emailVerified{
        width: 250px;
    }

    #verified{
        height: 96vh;
    }
}

@media(max-width:370px){
    .logoVerified{
        font-size: 23px;
    }

    .formVerified{
        width: 290px;
    }

    .formVerified label{
        font-size: 17.6px;
    }

    .emailVerified, .codeVerified{
        font-size: 15px;
    }

    .emailVerified{
        width: 230px;
    }

    #verified{
        height: 96vh;
    }
}