#hero{
    display: flex;
    margin-top: 65px;
    padding: 70px 0px;
    max-width: 1600px;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.heroText{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 80%;
    padding-right: 70px;
}

.heroText h1{
    font-size: 95px;
    color: #ff914d;
    font-style: italic;
    font-weight: 900;
}

.heroText p{
    font-size: 24px;
    width: 710px;
    font-weight: 630;
    color: #c56f3b;
}

.heroText a{
    background-color: #323641;
    border: 3px solid #c56f3b;
    width: 140px;
    text-align: center;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    color: #c56f3b;
    border-radius: 0.5rem;
    cursor: pointer;
}

.heroCard img{
    width: 500px;
    border-radius: 1.3rem;
}

.heroCard2 img{
    display: none;
    width: 500px;
    border-radius: 1.3rem;
}

.heroText2H1{
    display: none;
    font-size: 95px;
    color: #ff914d;
    font-style: italic;
    font-weight: 900; 
}

.heroText2{
    display: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 80%;
    padding-right: 70px;
}

.heroText2 p{
    display: none;
    font-size: 24px;
    width: 710px;
    font-weight: 630;
    color: #c56f3b; 
}

.heroText2 a{
    display: none;
    background-color: #323641;
    border: 3px solid #c56f3b;
    width: 140px;
    text-align: center;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    color: #c56f3b;
    border-radius: 0.5rem;
    cursor: pointer;    
}

/* mediaqueries zone */

@media (max-width: 1400px){
    .heroText {
        padding: 40px;
    }
    .heroText h1{
        font-size: 80px;
    }

    .heroText p{
        font-size: 20px;
    }
}

@media (max-width: 1320px){
    .heroCard img{
        width:400px;
    }
}

@media (max-width: 1280px){
    .heroCard img{
        width: 365px;
    }
}

@media (max-width: 1200px){
    .heroText{
        padding-right: 20px;
    }
}

@media (max-width: 1130px){
    .heroText h1{
        font-size: 70px;
    }

    .heroText p{
        width: 600px;
    }
}

@media (max-width: 1030px){
    .heroCard img{
        width:300px;
    }
}

@media (max-width: 940px){
    .heroText h1{
        font-size: 55px;
    }

    .heroText p{
        font-size: 20px;
        width: 450px;
    }

    .heroText{
        padding-right: 30px;
    }
}

@media (max-width:830px){
    .heroText h1{
        font-size: 50px;
    }
   
    .heroText p{
        font-size: 20px;
        width: 380px;
    }
   
    .heroText{
        padding-right: 20px;
    } 
       
    .heroCard img{
        width:270px;
    }
}

@media (max-width:772px){
    .heroText h1{
        font-size: 40px;
    }
}

@media (max-width: 749px){
    #hero{
        padding-top: 45px;
        margin-top: 0px;
        flex-direction: column;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        text-align: center;
        gap: 30px;
    }
    
    .heroCard{
        display: none;
    }
    
    .heroText{
        display: none;
    }


    .heroCard2 img{
        display: flex;
        width:400px;
        align-items: center;
    }

    .heroText2H1{
        display: flex;
        font-size: 42px;
    }

    .heroText2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 0;
    }

    .heroText2 p{
        display: flex;  
        font-size: 27px;
        width: 410px;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }

    .heroText2 a{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}