#aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    gap: 80px;
}

#aboutUs h2{
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    color: #ff914d;
}

#aboutUs p{
    font-size: 23px;
    width: 1260px;
    font-weight: 630;
    color: #ff914d;
    border: solid 3px #ff914d;
    padding: 15px;
    border-radius: 0.5rem;
}

.block{
    display: block;
}

/* mediaqueries zone */

@media (max-width:1280px){
    #aboutUs p{
        width: 1000px;
    }
}

@media (max-width: 1130px){
    #aboutUs p{
        width: 900px;
    }
}

@media (max-width: 940px){
    #aboutUs p{
        width: 800px;
    }
}

@media (max-width:830px){
    #aboutUs p{
        width: 680px;
    }
}

@media (max-width: 749px){
    #aboutUs p{
        width: 600px;
    }
}
