#iniciosesion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#3a3e4b ,#252c3a);
}

#logoInicioSesion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px; 
}

#logoInicioSesion h2{
    font-size: 50px;
    align-items: center;
    text-align: center;
    color: #ff914d; 
}

.formularioLogin{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    background:#252c3a;
    border: solid 3px #c56f3b;
    border-radius: 0.5rem;
    color: white;
}

.formularioLogin h2{
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.formularioLogin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
}

.emailFieldLogin{
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 22px;
    background:#16222A;
    border: 0ch;
    border-bottom: 3px solid #c56f3b;
    color: white;    
}

.passwordFieldLogin{
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 20px;
    background:#16222A;
    border: 0ch;
    border-bottom: 3px solid #c56f3b;
    color: white;  
}

.registrarse{
    text-align: center;
}

.signIn{
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    background: #16222A;
    border: 3px solid #c56f3b;
    border-radius: 0.5rem;
    color: white;
}

@media (max-width:450px){
    #logoInicioSesion h2{
        font-size: 35px;
    }

    .formularioLogin form{
        font-size: 25px;
        gap: 20px;
    }

    .registrarse{
        font-size: 25px;
    }
}



