#iniciosesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#3a3e4b ,#252c3a);
}

#logoInicioSesion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px; 
}

#logoInicioSesion h2{
    font-style: italic;
    display: flex;
    font-size: 50px;
    align-items: center;
    text-align: center;
    color: #ff914d; 
    text-shadow: 0px 0px 20px #ff914d; 
}

.formularioLogin{
    width: 450px;
    height: fit-content;
    background:#252c3a;
    border: solid 3px #c56f3b;
    box-shadow: 0px 0px 20px #ff914d;
    border-radius: 0.5rem;
    color: white;
    padding: 35px;
}

.registerLink{
    color: #c56f3b;
    text-shadow: 0px 0px 10px #ff914d;
}

.formularioLogin h2{
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #ff914d;
    text-shadow: 0px 0px 32px #ff914d; 
}

.formularioLogin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
}

.emailFieldLogin{
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 17px;
    width: 270px;
    text-align: center;
    background: transparent;
    border: 0ch;
    border-bottom: 3px solid #c56f3b;
    color: white;    
}

.passwordFieldLogin{
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 17px;
    width: 270px;
    text-align: center;
    background: transparent;
    border: 0ch;
    border-bottom: 3px solid #c56f3b;
    color: white;  
}

.registrarse{
    text-align: center;
}

.signIn{
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    background: #16222A;
    border: 3px solid #c56f3b;
    border-radius: 0.5rem;
    color: white;
}

@media (max-width:500px){
    #logoInicioSesion h2{
        font-size: 35px;
    }

    .formularioLogin{
        width: 315px;
    }

    .formularioLogin form{
        font-size: 25px;
        gap: 20px;
    }

    .registrarse{
        font-size: 25px;
    }
}

@media (max-width:450px){
    #logoInicioSesion h2{
        font-size: 35px;
    }

    .formularioLogin form{
        font-size: 25px;
        gap: 20px;
    }

    .registrarse{
        font-size: 25px;
    }

    .formularioLogin{
        width: 300px;
    }
}



